
<tr>
    <td>1</td>
    <td>Soham Gupta</td>
    <td>gsoham562@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a class="btn border-shadow update"><span>Edit</span></a>
        <a class="btn border-shadow delete"><span>Del</span></a>
    </td>
</tr>