<%- include('partials/_header')%>
    <main id='mainSection'>
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a class="border-shadow" href='/add'><span class="text-gradient">New User</span></a>
            </div>
            
            <form method="post" action="/">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <tbody>
                            <%- include('partials/_show')%>
                        </tbody>
                    </thead>
                </table>
            </form>
        </div>
    </main>
<%- include('partials/_footer')%>