<%- include('partials/_header')%>
    <main class="mainSection">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/" class="btn box-shadow">All Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Edit User</h2>
                <span class="text-light">use the bellow form to update a user</span>
            </div>
            <%- include('partials/_form')%>
        </div>
    </main>
<%- include('partials/_footer')%>